BOT_TOKEN=your_telegram_bot_token
ADMIN_IDS=[111111111,222222222]

S3_ENDPOINT=https://<accountid>.r2.cloudflarestorage.com
S3_ACCESS_KEY=your_access_key
S3_SECRET_KEY=your_secret_key
S3_BUCKET=your_bucket
S3_REGION=auto
S3_PUBLIC_BASE_URL=

WEB_PASSWORD=change_me
WEB_PORT=8000
WEB_SECRET_KEY=super_secret_session_key

DATABASE_PATH=/data/app.db
PANEL_BASE_URL=https://bot.formsend.ru
WEB_APP_URL=https://bot.formsend.ru/app
